@import 'variables';

img {
    max-width: 100%;
    height: auto;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
	list-style: none;
}

body {
    height: 100%;
    line-height: 1;
    font-family: 'Montserrat', Arial, sans-sarif;
    font-size: 14px;
    font-weight: 500;
    color: #737373;
}

.header__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 40px;
    line-height: 143%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252B42;

    @media (max-width: $md-width) {
        font-size: 32px;
    }
}

.header__description {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}