@import 'variables';

img {
    max-width: 100%;
    height: auto;
}

a {
	text-decoration: none;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
	list-style: none;
}

body {
    height: 100%;
    line-height: 1;
    font-family: 'Montserrat', Arial, sans-sarif;
    font-size: 16px;
    font-weight: 400;
    color: #333333;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    // box-sizing: border-box;
    border-radius: 0;
    font-weight: 700;
    font-size: 17px;
    line-height: 135.3%;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    background: #F85A47;
    transition: 0.5s all;
}

.header__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 137.5%;
    color: #000000;

    @media (max-width: $md-width) {
        font-size: 32px;
    }
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}